.add-drive {
  @include box;
  &__label {
    margin-left: 10px;
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
  }
  &__btn {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    min-width: 132px;
    &:hover .add-drive__btn-icon {
      opacity: .6;
    }
  }
  &__btn-text {
    margin-left: 5px;
  }
  &__btn-icon {
    transition: .2s;
  }
  &__btn-remove {
    transition: .2s;
  }
}
