.menu-bar {
  background-color: $ebony-clay;
  padding: 0 15px;
  min-width: 215px;
  width: 215px;
  @media(max-width: $size-xs) {
    width: 100%;
  }
  &__logo {
    font-size: 32px;
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
    color: $accent-color;
  }
  &__link {
    text-decoration: none;
  }
  &__name {
    display: inline-block;
  }
  &__menu-button {
    font-size: 20px;
    margin: 21px 0 21px 20px;
    border: none;
    background-color: transparent;
    color: $french-grey;
    outline: none;
    @media(max-width: $size-xs) {
      float: right;
      margin: 21px 15px 21px 0;
    }
  }
}
