.search-bar {
  background-color: $base-color;
  width: 100%;
  display: flex;
  align-items: center;
  &__form {
    width: 100%;
    display: flex;
  }
  &__input {
    width: 100%;
    padding: 0 18px;
    margin: 0 10px 0 30px;
    border: 2px solid $text-color;
    background-color: transparent;
    font-size: 20px;
    border-radius: 20px;
    color: #FFF;
    line-height: 1.7;
    font-weight: 300;
    font-family: $text-font-stack;
    &:focus {
      outline: none;
    }
  }
  &__button {
    outline: none;
    background-color: transparent;
    border: none;
    color: $text-color;
    font-size: 23px;
    margin-right: 30px;
    transition: .2s;
    &:hover {
      color: $accent-color;
    }
  }
}
