// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

html,
body,
#root,
#App {
  height: 100%;
  min-height: 100vh;
  @media(max-width: $size-sm) {
    height: auto;
  }
}

html.menu-show {
  body,
  #root,
  #App {
    @media (max-width: $size-md) {
      height: auto;
    }
  }
}
