.menu-header-bar {
  background-color: $base-color;
  padding: 15px;
  display: flex;
  align-items: center;
  &__logo {
    display: inline-block;
    font-size: 32px;
    color: $accent-color;
    margin-top: 11px;
    margin-right:10px;
  }
  &__link {
    text-decoration: none;
  }
  &__name {
    display: inline-block;
  }
  &__menu-button {
    margin-left: 20px;
    color: #FFF;
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
}