.menu-user-info {
  padding: 25px 15px;
  background-color: $mulled-wine;
  display: flex;
  align-items: center;
  &__avatar {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
  &__name {
    margin-left: 15px;
  }
}